.skill-card-bg{
    background-color: #cddddd29;
}
.skills-title span{
    color: #08d665;
}

@media (min-width:1280px) {
    .skill-img{
        width: 100%;
       } 
}
@media (max-width:1279px) and (min-width:769px) {
    

    
}
@media (max-width:768px) and (min-width:481px) {
    
}
@media (max-width:480px) {
    .skill-img{
     width: 75%;
     margin-left: auto;
     margin-right: auto;
    }
    .skills-title{
        text-align: center;
    }
    
}